<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="botwars.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="6" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:icon="@drawable/bot_img_1"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="BotWars" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- 
        <activity android:name=".MP_Client_BotWars_TCP" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MP_Client_BotWars_UDP" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MP_Client_BotWars_BT" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MP_Server_BotWars_UDP" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MP_Server_BotWars_TCP" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MP_Server_BotWars_BT" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        
        -->
        <activity android:name=".MultiPlayer_UDP" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Multiplayer_BT" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name=".StartMenu" >
            <intent-filter>
                <category android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MP_MapMenu_TCP" >
        </activity>
        <activity android:name=".MapMenu_UDP" >
        </activity>
        <activity android:name=".MapMenu_BT" >
        </activity>
        
        <activity android:name=".DeviceListActivity"
                  android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />
        <activity android:name=".MapMenu" >
        </activity>
        <activity android:name="botwars.main.SettingsMenu" >
        </activity>
    </application>

</manifest>